# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/upload/*
web/bundles/*
web/js

*/.AppleDoubl*
# Configuration files
app/config/parameters.ini
app/config/parameters.yml

nbproject
