.navbar .brand {
    margin-left: 0;
}

label[for$=published] {
    display: inline;
    padding-right: 5px;
}

.form-horizontal:not(.form-signin, .modal)  input[type=text] {
    width: 80%;
}

.form-horizontal .controls {
    margin-left:0;
}
.table-order tbody tr, .table-order tbody td {
    cursor: ns-resize;
}
label.entity-collections {
    cursor: default;
}
.modal .mceLayout {
    width: 300px!important;
}

.navbar-text.pull-right a {
    color: #F80;
}